<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.performance.appraise.mapper.PAwardMapper">
    <resultMap id="BaseResultMap" type="com.yan.performance.appraise.model.PAward">
        <result column="sysno" jdbcType="VARCHAR" property="sysNo" />
        <result column="proj_no" jdbcType="VARCHAR" property="projNo" />
        <result column="proj_name" jdbcType="VARCHAR" property="projName" />
        <result column="emp_no" jdbcType="VARCHAR" property="empNo" />
        <result column="emp_name" jdbcType="VARCHAR" property="empName" />
        <result column="check_dt" jdbcType="VARCHAR" property="checkDt" />
        <result column="award" jdbcType="DECIMAL" property="award" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
        <result column="dist_dt" jdbcType="VARCHAR" property="distDt" />
        <result column="dist_emp" jdbcType="VARCHAR" property="distEmp" />
        <result column="check_flag" jdbcType="VARCHAR" property="checkFlag" />
    </resultMap>

    <resultMap id="ReportMap" type="com.yan.performance.appraise.model.Report">
        <result column="sysno" jdbcType="VARCHAR" property="sysno"/>
        <result column="emp_no" jdbcType="VARCHAR" property="empNo"/>
        <result column="emp_name" jdbcType="VARCHAR" property="empName"/>
        <result column="sumAward" jdbcType="DECIMAL" property="sumAward"/>
        <result column="awardPay" jdbcType="DECIMAL" property="awardPay"/>
    </resultMap>

    <resultMap id="ReportDetailMap" type="com.yan.performance.appraise.model.ReportDetail">
        <result column="sysno" jdbcType="VARCHAR" property="sysno"/>
        <result column="emp_no" jdbcType="VARCHAR" property="empNo"/>
        <result column="emp_name" jdbcType="VARCHAR" property="empName"/>
        <result column="proj_no" jdbcType="VARCHAR" property="projNo"/>
        <result column="award" jdbcType="DECIMAL" property="award"/>
        <result column="proj_name" jdbcType="VARCHAR" property="projName"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="custom_id" jdbcType="VARCHAR" property="customId"/>
        <result column="custom_name" jdbcType="VARCHAR" property="customName"/>
    </resultMap>

    <select id="reportDetail" resultMap="ReportDetailMap" parameterType="com.yan.performance.appraise.model.PAward">
        select pa.sysno,pa.proj_no,pa.proj_name,pa.award,pa.remarks,pm.custom_name,pa.emp_name from p_award pa left join p_main pm
        on pa.sysno = pm.sysno and pa.proj_no = pm.proj_no
        where pa.sysno = #{sysno} and pa.emp_no = #{empNo} and pa.check_flag = 'PUB'
    </select>

    <select id="findReport" resultMap="ReportMap" parameterType="com.yan.performance.appraise.model.PAward">
        select a.sysno,a.emp_no,a.emp_name,a.sa sumAward,b.sp awardPay
        from (select sysno,emp_no,emp_name,sum(award)as sa  from p_award where sysno = #{sysno} and check_flag = 'PUB' group by emp_name) a
        left join (select emp_name,emp_no,sum(pay_fee)as sp from p_pay where check_dt = #{sysno} group by emp_name) b
        on a.emp_no = b.emp_no and a.emp_name = b.emp_name
    </select>

    <select id="findBySysno" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from  p_award where 1=1
        <if test="sysno !=null and sysno != ''">
            and sysno = #{sysno}
        </if>
    </select>

    <select id="findBySysnoName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from  p_award where dist_emp = #{distEmp}
        <if test="sysno !=null and sysno != ''">
            and sysno = #{sysno}
        </if>
    </select>

    <select id="allSysno" resultType="java.lang.String">
        select sysno from p_award group by sysno;
    </select>

    <select id="isExsit" parameterType="com.yan.performance.appraise.model.PAward" resultType="com.yan.performance.appraise.model.PAward">
        select p_award.* from
        p_award where sysno = #{sysNo} and proj_no = #{projNo} and emp_no = #{empNo}
    </select>

    <insert id="insert" parameterType="com.yan.performance.appraise.model.PAward">
        insert into p_award( sysno,proj_no,proj_name,emp_no,emp_name,check_dt,award,remarks,dist_dt,dist_emp,check_flag)
        values (#{sysNo},#{projNo},#{projName},#{empNo},#{empName},#{checkDt},#{award},#{remarks},#{distDt},#{distEmp},#{checkFlag})
    </insert>

    <select id="sumFee" parameterType="com.yan.performance.appraise.model.PAward" resultType="bigDecimal">
        select sum(award) from p_award where sysno =#{sysNo} and proj_no = #{projNo}
    </select>

    <delete id="deletePAward" parameterType="com.yan.performance.appraise.model.PAward">
        delete from p_award where sysno = #{sysNo} and emp_no = #{empNo} and proj_no = #{projNo}
    </delete>

    <select id="find" parameterType="com.yan.performance.appraise.model.PAward"  resultMap="BaseResultMap">
        select * from p_award where sysno = #{sysNo} and proj_no = #{projNo} and emp_no = #{empNo}
    </select>

    <select id="all" resultMap="BaseResultMap">
        select * from p_award
    </select>

    <update id="update" parameterType="com.yan.performance.appraise.model.PAward">
        update p_award
        set award = #{award},
            dist_dt = #{distDt},
            dist_emp = #{distEmp},
            check_flag =#{checkFlag},
            remarks = #{remarks}
        where sysno = #{sysNo} and proj_no = #{projNo} and emp_no = #{empNo}
    </update>

    <select id="bysysnoAndProjno" parameterType="com.yan.performance.appraise.model.PAward"  resultMap="BaseResultMap">
          select * from p_award where sysno = #{sysNo} and proj_no = #{projNo}
    </select>

    <select id="bysysnoAndProjnoName" parameterType="com.yan.performance.appraise.model.PAward"  resultMap="BaseResultMap">
          select * from p_award where sysno = #{sysNo} and proj_no = #{projNo} and dist_emp = #{distEmp}
    </select>

    <select id="personalList" parameterType="com.yan.performance.appraise.model.PAward" resultMap="BaseResultMap">
        select * from p_award where emp_no = #{empNo} and check_flag = 'PUB'
        <if test="sysNo !=null and sysNo != ''">
            and sysno = #{sysNo}
        </if>
    </select>

    <select id="findAllPub" parameterType="com.yan.performance.appraise.model.PAward" resultMap="BaseResultMap">
        select * from p_award where check_flag = 'PUB'
        <if test="sysNo !=null and sysNo != ''">
            and sysno = #{sysNo}
        </if>
    </select>

</mapper>