<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.performance.appraise.mapper.PMainMapper">
    <resultMap id="BaseResultMap" type="com.yan.performance.appraise.model.PMain">
        <result column="sysno" jdbcType="VARCHAR" property="sysNo" />
        <result column="proj_no" jdbcType="VARCHAR" property="projNo" />
        <result column="proj_name" jdbcType="VARCHAR" property="projName" />
        <result column="custom_id" jdbcType="VARCHAR" property="customId" />
        <result column="custom_name" jdbcType="VARCHAR" property="customName" />
        <result column="check_year" jdbcType="VARCHAR" property="checkYear" />
        <result column="check_dt" jdbcType="VARCHAR" property="checkDt" />
        <result column="back_fee" jdbcType="DECIMAL" property="backFee" />
        <result column="valid_fee" jdbcType="DECIMAL" property="validFee" />
        <result column="k_sumn" jdbcType="DECIMAL" property="kSumn" />
        <result column="last_fee" jdbcType="DECIMAL" property="lastFee" />
        <result column="fill_dt" jdbcType="VARCHAR" property="fillDt" />
    </resultMap>

    <resultMap id="PMainEmpMap" type="com.yan.performance.dic.model.PMainEmp">
        <result column="sysno" jdbcType="VARCHAR" property="sysNo" />
        <result column="proj_no" jdbcType="VARCHAR" property="projNo" />
        <result column="proj_name" jdbcType="VARCHAR" property="projName" />
        <result column="last_fee" jdbcType="DECIMAL" property="lastFee" />
        <result column="emp_no" property="empNo" jdbcType="VARCHAR" />
        <result column="emp_name" property="empName" jdbcType="VARCHAR" />
        <result column="proj_no" property="projNoee" jdbcType="VARCHAR" />
    </resultMap>

    <select id="isExsit" parameterType="com.yan.performance.appraise.model.PMain" resultType="com.yan.performance.appraise.model.PMain">
        select p_main.* from
        p_main where sysno = #{sysNo} and proj_no = #{projNo}
    </select>

    <insert id="save" parameterType="com.yan.performance.appraise.model.PMain">
        insert into p_main (sysno,proj_no,proj_name,custom_id,custom_name,check_year,check_dt,
        back_fee,valid_fee,k_sumn,last_fee,fill_dt)
        values (#{sysNo,jdbcType=VARCHAR},#{projNo,jdbcType=VARCHAR},#{projName,jdbcType=VARCHAR},#{customId,jdbcType=VARCHAR},
        #{customName,jdbcType=VARCHAR},#{checkYear,jdbcType=VARCHAR},#{checkDt,jdbcType=VARCHAR},#{backFee,jdbcType=DECIMAL},
        #{validFee,jdbcType=DECIMAL},#{kSumn,jdbcType=VARCHAR},#{lastFee,jdbcType=DECIMAL},#{fillDt,jdbcType=VARCHAR})
    </insert>

    <select id="list"  resultMap="BaseResultMap">
        select * from p_main
    </select>

    <select id="allSysno" resultType="java.lang.String">
        select sysno from p_main group by sysno;
    </select>

    <select id="findBySysno" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from p_main where sysno = #{sysno}
    </select>

    <update id="update" parameterType="com.yan.performance.appraise.model.PMain">
        update p_main
        set last_fee = #{lastFee},
            back_fee = #{backFee},
            valid_fee = #{validFee},
            k_sumn = #{kSumn},
            fill_dt = #{fillDt}
        where sysno = #{sysNo} and proj_no = #{projNo}
    </update>

    <update id="updateAll" parameterType="com.yan.performance.appraise.model.PMain">
        update p_main
        set last_fee = #{lastFee},
            back_fee = #{backFee},
            valid_fee = #{validFee},
            k_sumn = #{kSumn},
            fill_dt = #{fillDt}
        where sysno = #{sysNo} and proj_no = #{projNo}
    </update>

    <delete id="deletePMain" parameterType="com.yan.performance.appraise.model.PMain">
        delete from p_main where sysno = #{sysno} and proj_no = #{projNo}
    </delete>

    <select id="find" parameterType="com.yan.performance.appraise.model.PMain"  resultMap="BaseResultMap">
        select * from p_main where sysno = #{sysno} and proj_no = #{projNo}
    </select>

    <select id="findByEmp" parameterType="com.yan.performance.dic.model.ProjDic" resultMap="PMainEmpMap">
        select pm.sysno,pm.proj_no,pm.proj_name,pm.last_fee,dp.emp_no,dp.emp_name,dp.proj_no
        from p_main pm,dic_proj dp
        where pm.proj_no = dp.proj_no and dp.emp_no = #{empNo} and dp.emp_Name = #{empName}
    </select>

    <select id="findByProj" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from p_main where proj_no = #{projNo}
    </select>
</mapper>