<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.performance.dic.mapper.ProjDicMapper">
    <resultMap id="BaseResultMap" type="com.yan.performance.dic.model.ProjDic">
        <result column="proj_no" property="projNo" jdbcType="VARCHAR" />
        <result column="proj_name" property="projName" jdbcType="VARCHAR" />
        <result column="total_fee" property="totalFee" jdbcType="DECIMAL" />
        <result column="left_fee" property="leftFee" jdbcType="DECIMAL" />
        <result column="status_flag" property="statusFlag" jdbcType="VARCHAR" />
        <result column="contract_dt" property="contractDt" jdbcType="VARCHAR" />
        <result column="proj_start" property="projStart" jdbcType="VARCHAR" />
        <result column="proj_end" property="projEnd" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="custom_id" property="customId" jdbcType="VARCHAR" />
        <result column="custom_name" property="customName" jdbcType="VARCHAR" />
        <result column="emp_no" property="empNo" jdbcType="VARCHAR" />
        <result column="emp_name" property="empName" jdbcType="VARCHAR" />
        <result column="ratio_1" property="ratio1" jdbcType="DECIMAL" />
        <result column="ratio_2" property="ratio2" jdbcType="DECIMAL" />
        <result column="ratio_3" property="ratio3" jdbcType="DECIMAL" />
        <result column="ratio_4" property="ratio4" jdbcType="DECIMAL" />
        <result column="ratio_5" property="ratio5" jdbcType="DECIMAL" />
        <result column="pay_info" property="payInfo" jdbcType="VARCHAR" />
        <result column="back_flag" property="backFlag" jdbcType="VARCHAR" />
        <result column="next_back_dt" property="nextBackDt" jdbcType="VARCHAR" />
        <result column="next_back_fee" property="nextBackFee" jdbcType="VARCHAR" />
    </resultMap>
    <select id="list"  resultMap="BaseResultMap">
        select dic_proj.*
        from dic_proj
    </select>

    <select id="findCount"  resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT COUNT(*)
        FROM dic_proj
        WHERE proj_no = #{projNo}
    </select>

    <insert id="insert" parameterType="com.yan.performance.dic.model.ProjDic">
        insert into dic_proj (proj_no, proj_name,total_fee,left_fee,status_flag,contract_dt,proj_start,proj_end,remarks,
        custom_id,custom_name,emp_no,emp_name,ratio_1,ratio_2,ratio_3,ratio_4,ratio_5,pay_info,back_flag,next_back_dt,next_back_fee)
        values (#{projNo,jdbcType=VARCHAR}, #{projName,jdbcType=VARCHAR}, #{totalFee,jdbcType=DECIMAL}, #{leftFee,jdbcType=DECIMAL},
         #{statusFlag,jdbcType=VARCHAR}, #{contractDt,jdbcType=VARCHAR}, #{projStart,jdbcType=VARCHAR}, #{projEnd,jdbcType=VARCHAR},
         #{remarks,jdbcType=VARCHAR},  #{customId,jdbcType=VARCHAR}, #{customName,jdbcType=VARCHAR},
          #{empNo,jdbcType=VARCHAR}, #{empName,jdbcType=VARCHAR}, #{ratio1,jdbcType=DECIMAL}, #{ratio2,jdbcType=DECIMAL},
          #{ratio3,jdbcType=DECIMAL}, #{ratio4,jdbcType=DECIMAL}, #{ratio5,jdbcType=DECIMAL},#{payInfo,jdbcType=VARCHAR},
          #{backFlag,jdbcType=VARCHAR},#{nextBackDt,jdbcType=VARCHAR},#{nextBackFee,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.yan.performance.dic.model.ProjDic">
        update dic_proj
        set proj_name = #{projName,jdbcType=VARCHAR},
            total_fee = #{totalFee,jdbcType=DECIMAL},
            left_fee = #{leftFee,jdbcType=DECIMAL},
            status_flag = #{statusFlag,jdbcType=VARCHAR},
            contract_dt = #{contractDt,jdbcType=VARCHAR},
            proj_start = #{projStart,jdbcType=VARCHAR},
            proj_end = #{projEnd,jdbcType=VARCHAR},
            remarks = #{remarks,jdbcType=VARCHAR},
            custom_id = #{customId,jdbcType=VARCHAR},
            custom_name = #{customName,jdbcType=VARCHAR},
            emp_no = #{empNo,jdbcType=VARCHAR},
            emp_name = #{empName,jdbcType=VARCHAR},
            ratio_1 = #{ratio1,jdbcType=DECIMAL},
            ratio_2 = #{ratio2,jdbcType=DECIMAL},
            ratio_3 = #{ratio3,jdbcType=DECIMAL},
            ratio_4 = #{ratio4,jdbcType=DECIMAL},
            ratio_5 = #{ratio5,jdbcType=DECIMAL},
            pay_info = #{payInfo,jdbcType=VARCHAR},
            back_flag =  #{backFlag,jdbcType=VARCHAR},
            next_back_dt = #{nextBackDt,jdbcType=VARCHAR},
            next_back_fee = #{nextBackFee,jdbcType=VARCHAR}
        where proj_no = #{projNo,jdbcType = VARCHAR}
    </update>

    <delete id = "deleteProj" >
        delete from dic_proj where proj_no in
        <foreach collection="array" open="(" close=")" separator="," item="ids">
            #{ids}
        </foreach>
    </delete>

    <sql id="Base_Column_List">
        proj_no, proj_name,total_fee,left_fee,status_flag,contract_dt,proj_start,proj_end,remarks,
        custom_id,custom_name,emp_no,emp_name,ratio_1,ratio_2,ratio_3,ratio_4,ratio_5,pay_info,back_flag,next_back_dt,next_back_fee
    </sql>

    <select id="selectByProjNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Aug 03 14:56:45 CST 2018.
        -->
        select
        <include refid="Base_Column_List" />
        from dic_proj
        where proj_no = #{projNo,jdbcType=VARCHAR}
    </select>

    <select id="findByEmp" parameterType="com.yan.performance.dic.model.ProjDic" resultMap="BaseResultMap">
        select * from dic_proj where emp_no = #{empNo} and emp_name = #{empName}
    </select>

    <update id="modifyFlag" parameterType="com.yan.performance.dic.model.ProjDic" >
         update dic_proj
         set status_flag = #{statusFlag}
         where proj_no = #{projNo}
    </update>

    <select id="listBysearch" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from dic_proj where custom_name like #{searchCode} or proj_name like #{searchCode} or emp_name like #{searchCode}
    </select>
</mapper>